.color-square-blue {
  width: 33%;
  height: 200px;
  background-color: blue;
}

.color-square-green {
  width: 33%;
  height: 200px;
  background-color: green;
}

.color-square-red {
  width: 33%;
  height: 200px;
  background-color: red;
}
